.each-list {
	padding: 2%;
	margin-bottom:  10px;
	text-align: left;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.each-repo{
	background-color: rgba(0, 0, 0, 0.1);
	margin: 10px 0;
	padding: 10px;
	border-radius: 10px;
	
}
form {
	margin: 10px;
}
.user-info {
	text-align: center;
}
.user-info img {
	border-radius: 20px;
	margin: 10px;
}
.btn-linkedin {
	color: #fff;
	background:#007bb6;
}
.btn-github {
	color: #fff;
	background:#444444
}
.user-info .btn {
	margin: 5px;
}
.align-center{
	text-align: center;
}
.align-right{
	text-align: right;
}
.graph{
	margin: 5px;
}
